# BSD 3-Clause License All rights reserved.
#
# SPDX-License-Identifier: BSD 3-Clause License

[MASTER]
init-hook='import sys; sys.path.append("./")'
disable=broad-except,broad-exception-raised
max-line-length=150
max-args=7
min-public-methods=0
max-attributes=12
max-nested-blocks=10
max-branches=25
max-statements=60
max-locals=40
fail-under=9.5